* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    color: #404040;
    text-align: center;
    margin: 0;
}

header {
    display: flex;
    justify-content: center
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

li {
    margin-left: 1em;
}

a {
    color: gray
}

a:hover,
a:focus {
    color: black
}

main {
    margin: 50px 10% 0 10%;
}

main p {
    text-align: justify;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-top: 1em;
    background-color: lightskyblue;
    padding: 0.5em 1.5em;
}

.err-404 {
    margin-top: 30vh;
    font-size: 10rem;
}